<%= form_for @job do |f| %>
    <% if @job.errors.any? %>
        <div id="errors">
            
            <h2>
                <%= pluralize(@job.errors.count, "error") %> prevented this job from saving
            </h2>
            
            <ul>
                <% @job.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
            
    
        </div>
    
    <% end %>
    
    
        <p>
            <%= f.label :job_name %> <br>
            <%= f.text_field :job_name %>
        </p>   

        <p>
            <%= f.label :cargo %> <br>
            <%= f.text_field :cargo %>
        </p>

        <p>
            <%= f.label :containers_needed %> <br>
            <%= f.number_field :containers_needed %>
        </p> 
    
        <p>
            <%= f.label :origin %> <br>
            <%= f.text_field :origin %>
        </p>

        <p>
            <%= f.label :destination %> <br>
            <%= f.text_field :destination %>
        </p>

        <p>  
            <%= f.label :cost %> <br>
            <%= f.text_field :cost %>
        </p>

        <p>
            <%= f.submit%>
        </p>

    <% end %>
    
</div>