<div id="job_wrapper">

    <h1>Current Job Orders</h1>

    <%= form_for :job, url: jobs_path do |f| %>

        <p>
            <%= f.label :job_name %> <br>
            <%= f.text_field :job_name %>
        </p>   

        <p>
            <%= f.label :cargo %> <br>
            <%= f.text_field :cargo %>
        </p>

        <p>
            <%= f.label :containers_needed %> <br>
            <%= f.number_field :title %>
        </p> 
    
        <p>
            <%= f.label :origin %> <br>
            <%= f.text_field :origin %>
        </p>

        <p>
            <%= f.label :destination %> <br>
            <%= f.text_field :destination %>
        </p>

        <p>  
            <%= f.label :cost %> <br>
            <%= f.text_field :cost %>
        </p>

        <p>
            <%= f.submit%>
        </p>

    <% end %>
    
</div>