<div id="job_content">

    <h1 class="job_name">
        <%= @job.job_name %>
    </h1>


    <p class="date">
        Submitted <%= time_ago_in_words(@job.created_at) %> Ago
        
        <% if user_signed_in? %>
            | <%= link_to 'Edit', edit_job_path(@job) %>
            | <%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: 'Are you sure? Deletion cannot be undone!'} %>
        <% end %>
    
    </p>


    <p class="cargo">
        <%= @job.cargo %>
    </p>


    <p class="containers_needed">
        <%= @job.containers_needed %>
    </p>


    <p class="origin">
        <%= @job.origin %>
    </p>


    <p class="destination">
        <%= @job.destination %>
    </p>


    <p class="cost">
        <%= @job.cost %>
    </p>

    <div id="boat_jobs">
        <h2>
            <%= @job.boat_jobs.count %> Issues & Status
            <%= render @job.boat_jobs %>
            
            <h3>Add Issue or Status:</h3>
            <%= render "boat_jobs/form" %>
        </h2>
    </div>
    
</div>