<div id="job_content">

    <h1 class="job_name">
        <%= @job.job_name %>
    </h1>


    <p class="date">
        Submitted <%= time_ago_in_words(@job.created_at) %> Ago
        
        <% if @user == @currentuser %>
            | <%= link_to 'Edit', edit_job_path(@job) %>
            | <%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: 'Are you sure? Deletion cannot be undone!'} %>
        <% end %>
    
    </p>


    <p class="cargo">
        <br>Cargo<br><br><%= @job.cargo %>
    </p>


    <p class="containers_needed">
        <br>Containers Needed<br><br>&nbsp;&nbsp<%= @job.containers_needed %>
    </p>


    <p class="origin">
        <br>Origin<br><br>&nbsp;&nbsp<%= @job.origin %>
    </p>


    <p class="destination">
        <br>Destination<br><br>&nbsp;&nbsp<%= @job.destination %>
    </p>


    <p class="cost">
        <br>Cost<br><br>&nbsp; $<%= @job.cost %>0
    </p>

    <br><br>
    
    <div id="boat_jobs">
        <h2>
            <%= @job.boat_jobs.count %> <br><br> Issues & Status <br><br>
            <%= render @job.boat_jobs %>
            
            <h3>Add Issue or Status:</h3>
            <%= render "boat_jobs/form" %>
        </h2>
    </div>
    
</div>