<!DOCTYPE html>
<html>
<head>
  <title>ShippingProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="sidebar">
        <ul>
            <li class="category">Website</li>
            <li><%= link_to "Open Jobs", root_path %></li>
            <li><%= link_to "About", about_path %></li>
        </ul>
        
        <ul class="Social">
            <li><a href= "https://twitter.com">Twitter</a></li>
            <li><a href= "https://instagram.com">Instagram</a></li>
            <li><a href= "https://github.com">Github</a></li>
            <li><a href= "https://facebook.com.com">Facebook</a></li>
        </ul>
        
        <% if !user_signed_in? %>
            <p class="sign_in">
                Admin Login
            </p>
        <% end %> 
        
    </div>
        
        <div id="main_content">
            
            <div id="header">
                
                
                <!--  nav bar page rules  -->
                <% if current_page?(root_path) %>
                    <p>All Jobs</p>
                <% elsif current_page?(about_path) %>
                    <p>About</p>
                <% else %>
                    <%= link_to "Back to All Jobs", root_path %>
                <% end %>
                
                
                <% if user_signed_in? %>
                    <div class="buttons">
                    
                        <button class="button">
                            <%= link_to "New Job", new_job_path %>
                        </button>
                    
                        <button class="button">
                            Log Out
                        </button>
                    
                    </div>
                <% end %>
                
            </div>
            
            <%= flash.each do |job_name, cargo, containers_needed, origin, destination, cost| %>
            <%= content_tag(:div, job_name, class: "alert") %>
            
            <% end %>
            
            <%= yield %>
            
        </div>

</body>
</html>
